* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
p, h1 {
    color: #868686;
}
.card {
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.card img {
    height: 300px;
}
.card p {
    font-size: large;
    max-width: 50%;
    text-align: center;
    font-family: 'Amiri', serif;
    padding: 10px;
}
@media(max-width:768px){
    .card p {
        max-width: 80%;
    }
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info p {
    max-width: 100%;
    text-align: center;
    font-size: 15px;
}
.info img {
    height: 50px;
    border-radius: 50%;
}
